html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

input,
textarea,
button {
  font-family: inherit;
}

.navbar {
  height: 55px;
  background-color: #f55a5a;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 300;
}

.navbar__image {
  filter: brightness(0) invert(1);
  margin-right: 8px;
}

.section__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
}

.card {
  width: 550px;
}

.card__content {
  display: flex;
  padding-left: 39px;
}

.card__image {
  width: 126px;
  height: 168px;
  border-radius: 5px;
  margin-right: 19px;
}

.card__text {
  margin-top: 12px;
  font-size: 10.24px;
  font-weight: 400;
}

.card__location__pin {
  height: 10px;
  color: #f55a5a;
  margin-right: 4px;
}

.card__location__name {
  letter-spacing: 0.17rem;
  margin-right: 12px;
}

.card__location__link {
  text-decoration: none;
  color: #918e9b;
}

.card__name {
  margin-top: 10px;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 16px;
}

.card__dates {
  font-size: 10.24px;
  font-weight: 600;
  margin-bottom: 9px;
}

.card__text {
  line-height: 150%;
  width: 326px;
}

.card__break {
  width: 75%;
  background-color: #918e93;
  height: 1px;
  border: none;
  margin-top: 18px;
  margin-bottom: 18px;
}
